<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>POSWEBDEMO</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>bjfu.em.se.posweb.ui.POSWebDemoListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>bjfu.em.se.posweb.ui.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainMenuServlet</display-name>
    <servlet-name>MainMenuServlet</servlet-name>
    <servlet-class>bjfu.em.se.posweb.ui.MainMenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainMenuServlet</servlet-name>
    <url-pattern>/mainMenu.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MakeNewSaleServlet</display-name>
    <servlet-name>MakeNewSaleServlet</servlet-name>
    <servlet-class>bjfu.em.se.posweb.ui.MakeNewSaleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakeNewSaleServlet</servlet-name>
    <url-pattern>/makeNewSale.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnterItemServlet</display-name>
    <servlet-name>EnterItemServlet</servlet-name>
    <servlet-class>bjfu.em.se.posweb.ui.EnterItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnterItemServlet</servlet-name>
    <url-pattern>/enterItem.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaleMenuServlet</display-name>
    <servlet-name>SaleMenuServlet</servlet-name>
    <servlet-class>bjfu.em.se.posweb.ui.SaleMenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaleMenuServlet</servlet-name>
    <url-pattern>/saleMenu.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EndSaleServlet</display-name>
    <servlet-name>EndSaleServlet</servlet-name>
    <servlet-class>bjfu.em.se.posweb.ui.EndSaleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EndSaleServlet</servlet-name>
    <url-pattern>/endSale.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentMenuServlet</display-name>
    <servlet-name>PaymentMenuServlet</servlet-name>
    <servlet-class>bjfu.em.se.posweb.ui.PaymentMenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentMenuServlet</servlet-name>
    <url-pattern>/paymentMenu.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MakePaymentServlet</display-name>
    <servlet-name>MakePaymentServlet</servlet-name>
    <servlet-class>bjfu.em.se.posweb.ui.MakePaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakePaymentServlet</servlet-name>
    <url-pattern>/makePayment.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListSalesServlet</display-name>
    <servlet-name>ListSalesServlet</servlet-name>
    <servlet-class>bjfu.em.se.posweb.ui.ListSalesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListSalesServlet</servlet-name>
    <url-pattern>/listSales.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaleInfoServlet</display-name>
    <servlet-name>SaleInfoServlet</servlet-name>
    <servlet-class>bjfu.em.se.posweb.ui.SaleInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaleInfoServlet</servlet-name>
    <url-pattern>/saleInfo.do</url-pattern>
  </servlet-mapping>
</web-app>